body {
    font-family: 'Roboto', sans-serif;
    background-color: #c0f2f6b1;
    color: #343a40;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-content {
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

.header-banner {
    text-align: center;
    margin-bottom: 20px;
}

.header-banner img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.main-title {
    margin-top: 10px;
    color: #c06ca7;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
}

.input-section {
    background-color: rgb(240, 251, 251);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 300); /* Ajusta el tamaño de la sección */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #a79ff6;
}

.input-wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.input-name {
    flex: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
    color: #495057;
}

.button-add {
    padding: 10px 20px;
    background-color: #d66fb7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.button-add:hover {
    background-color: #e27eee;
}

.name-list, .result-list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    flex: 1;
    overflow-y: auto;
}

.button-container {
    text-align: center;
}

.button-draw {
    padding: 10px 20px;
    background-color: #887ef7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s;
}

.button-draw img {
    width: 20px;
    height: 20px;
}

.button-draw:hover {
    background-color: #e27eee;
}

.result-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

 #reiniciarButton {
    padding: 10px 20px;
    background-color: #887ef7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s;
}

#reiniciarButton:hover {
    background-color: #e27eee;
}

#resultado {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #a79ff6;
}

#listaNueva {
    font-size: 1rem;
    color: #ac6095;
    font-family: 'Poppins', sans-serif;
    text-align:left;
    margin-top: 10px;
}